    
<div class="grid grid-nogutter justify-content-center pb-5">
    <div class="col-12 text-center m-0 p-0" >
        <h2>The MovieDB Content</h2>
    </div>
    
    <div class="col-12 justify-content-center">
        <app-carousel
            [title]="'Trending Movies'"
            [mediaArray]="trendingMovies"
        />
    </div>
    
    <!-- <div class="col-12 justify-content-center border border-1"> -->
    <div class="col-12 justify-content-center ">
        <app-carousel
            [title]="'Popular Movies'"
            [mediaArray]="popularMovies"
        />
    </div>
    
    <!-- <div class="col-12 justify-content-center border border-1"> -->
    <div class="col-12 justify-content-center">
        <app-carousel
            [title]="'Top Rated Movies'"
            [mediaArray]="topRatedMovies"
        />
    </div>
    
</div>