<!-- <div class="card flex justify-content-center">
    <p-card
        [header]="title"
        [subheader]="vote_average" 
        [style]="{ width: '360px' }"
    >
        <ng-template pTemplate="header">
            <img 
                alt="Card" 
                [src]="'https://image.tmdb.org/t/p/w500/'+poster_path" 
            />
        </ng-template>
        <p>{{overview}}</p>
        <p>{{release_date}}</p>
        <ng-template pTemplate="footer">
            <p-button label="More info" icon="pi pi-external-link"></p-button>
            <p-button label="More info" icon="pi pi-external-link" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
        </ng-template>
    </p-card>
</div> -->