    <p-menubar
        [style]="{'background-color': '#02021C'}"
        [model]="items"
        routerLink
    >
        <ng-template pTemplate="start">
            <!-- <img src="https://primefaces.org/cdn/primeng/images/primeng.svg" height="40" class="mr-2" /> -->
            <i class="pi pi-video" [routerLink]="['/']" [ngStyle]="{'cursor':'pointer'}">
                <span class="ml-2">Moviepedia</span>
            </i>
        </ng-template>

        <ng-template pTemplate="end">
            <input type="text" pInputText placeholder="Search" class="w-full" />
        </ng-template>
    </p-menubar>