<p-menubar
    [style]="{ 
        'background-color': '#02021C', 
        'border-radius': 0,
        'padding':'0.4rem 1.3rem',
        'display':'flex',
        'justify-content':'space-between'
    }"
    [model]="items"
    
    class="navbar"
>
    <ng-template pTemplate="start">
        <img src="https://primefaces.org/cdn/primeng/images/primeng.svg" height="25" class="" />
        <!-- <i class="pi pi-video" [routerLink]="['/']" [ngStyle]="{'cursor':'pointer'}">
        </i> -->
        <!-- <h2 class="ml-6 mr-20 inline"> -->
        <h2 class="inline" [routerLink]="['/']" [ngStyle]="{'cursor':'pointer'}">
            MOVIEPEDIA
        </h2>
    </ng-template>

    <ng-template pTemplate="end">
        <input
            type="text"
            pInputText
            placeholder="Search"
            class="w-full"
            (click)="onClickSearch()"
        />
    </ng-template>

</p-menubar>