<p-menubar
    [style]="{ 
        'background-color': '#02021C', 
        'border-radius': 0,
        'padding':'0.5rem 1.3rem',
        'display':'flex',
        'justify-content':'space-between'
    }"
    [model]="items"
    
    class="navbar"
>
    <ng-template pTemplate="start">
        <!-- <div [routerLink]="['/']" [ngStyle]="{'cursor':'pointer'}" class="flex align-items-center my-0 py-0"> -->
        <div [routerLink]="['/']" [ngStyle]="{'cursor':'pointer'}" class="">
            <i
                class="fa-sharp fa-solid fa-film fa-2xl mr-2" 
                style="color: #929197;">
            </i>
            <h2 class="hidden sm:inline">
                MOVIEPEDIA
            </h2>
        </div>
    </ng-template>

    <ng-template pTemplate="end">
        <span class="p-input-icon-right">
            <i class="pi pi-search" (click)="onSearch($event)" [style]="{'cursor':'pointer'}"></i>
            <input
                id="search"
                class="py-1"
                type="text"
                (keydown)="onSearch($event)"
                placeholder="search"
                type="text"
                pInputText
                [(ngModel)]="searchTerm"
            />
        </span>
    </ng-template>

</p-menubar>