<div class="grid grid-nogutter sm:justify-content-center xs:justify-content-around gallery-container">
    <div class="col-6 sm:col-3 md:col-3 lg:col-2 lg:m-1" *ngFor="let item of mediaItems">
        <div class="gallery-item" (click)="onClickItem(item)">
                <div class="overlay-text-container">
                   <p class="overlay-text">
                       {{ item.title }}
                   </p> 
                </div>
                
                <div class="hoverable-image-container">
                    <img 
                    class="hoverable-image"
                    [src]="getImageUrl(item)"
                    [alt]="item.title"
                    width="100%"
                    
                    >
                </div>
        </div>
    </div>
</div>